.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  gap: 0.5rem;
  /* padding: 0 1rem; */
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 3px rgb(0, 0, 0, 0.4);
}

.inputTodo {
  width: 60rem;
  height: 4rem;
  padding-left: 1rem;
  border: none;
}
